In [53]:
import pandas as pd
import numpy as np
import re

def openFile():
    try:
        file_name = input("Enter a class to grade (i.e. class1 for class1.txt): ")
        df = pd.read_csv('{}.txt'.format(file_name), header=None)
        print('Successfully opened {}.txt'.format(file_name))
        return df
    except:
        print('File cannot be found')

def analyzing(df):
    # Đáp án mẫu lưu ra list
    answer_keys = "B,A,D,D,C,B,D,A,C,C,D,B,A,B,A,C,B,D,A,C,A,A,B,D,D".split(",")
    
    # Regex pattern để check dữ liệu mã sinh viên
    pattern = "^N[0-9]{8}$"
    
    print(df.index.values)
    
def main():
    df = openFile()
    analyzing(df)

In [22]:
main()

Enter a class to grade (i.e. class1 for class1.txt): xxx
Successfully opened xxx.txt
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19]

In [64]:
import pandas as pd
import numpy as np

file_name = input("Enter a class to grade (i.e. class1 for class1.txt): ")
df = pd.read_csv('{}.txt'.format(file_name), header=None)
df
df.columns

Enter a class to grade (i.e. class1 for class1.txt): xxx

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25],
           dtype='int64')

In [43]:
df.index.values

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19], dtype=int64)

In [44]:
df.columns

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25],
           dtype='int64')

In [50]:
lst = list(range(1,26))

In [51]:
lst

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25]

In [65]:
df[len(df[0])]

0     NaN
1       A
2       A
3       A
4       A
5       A
6       A
7       A
8       A
9     NaN
10      A
11      A
12      A
13      A
14      A
15      A
16    NaN
17      A
18      A
19      A
20      A
Name: 21, dtype: object

In [67]:

# Regex pattern để check dữ liệu mã sinh viên
pattern = "^N[0-9]{8}$"

df[df[0].len < 9]
#test = df[0].loc(df[0].str.match(r'^N[0-9]{8}$'))
#df[0]

AttributeError: 'Series' object has no attribute 'len'

In [77]:
df[df[0] in ('X00000002','A00000002')]
years = list(range(1,26))

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [76]:
df[years]

,1,2,3,4,5,6,7,8,9,10,...,16,17,18,19,20,21,22,23,24,25
0,A,A,D,D,C,D,D,A,NaN,C,...,C,B,D,A,C,NaN,A,NaN,C,D
1,NaN,A,NaN,D,NaN,B,D,A,C,C,...,C,B,D,C,C,A,A,B,NaN,D
2,B,A,NaN,D,C,B,D,A,C,C,...,C,B,D,A,NaN,A,NaN,B,D,D
3,B,B,D,NaN,NaN,B,D,A,C,C,...,C,B,D,NaN,C,A,D,B,C,D
4,B,A,NaN,D,NaN,B,D,A,C,C,...,C,B,D,D,C,A,A,NaN,D,D
5,B,A,D,A,C,B,D,A,C,C,...,C,NaN,C,A,C,A,C,B,D,A
6,B,A,D,D,C,B,D,A,C,NaN,...,C,B,D,NaN,C,A,A,B,D,NaN
7,A,A,D,D,C,NaN,D,A,C,C,...,A,B,D,A,C,A,NaN,B,B,D
8,B,A,NaN,D,C,B,D,A,C,A,...,A,B,D,A,C,A,A,B,D,D
9,NaN,A,D,B,C,B,D,A,C,C,...,C,B,D,A,D,NaN,NaN,B,D,B
10,B,A,D,NaN,C,B,D,A,C,D,...,C,B,D,A,C,A,B,B,D,D
11,B,NaN,D,D,C,B,D,A,C,C,...,A,B,D,A,NaN,A,A,A,NaN,C
12,NaN,A,D,NaN,B,B,NaN,A,C,A,...,C,B,D,A,C,A,A,B,D,D
13,B,B,D,D,C,B,NaN,D,C,C,...,C,NaN,D,A,C,A,A,NaN,D,D
14,A,C,C,D,C,B,NaN,A,C,C,...,C,B,D,A,C,A,B,NaN,D,D
15,B,A,C,D,NaN,B,D,A,C,C,...,C,B,D,A,C,A,A,B,D,D
16,B,A,D,D,C,B,C,A,D,C,...,C,B,D,D,B,NaN,A,B,D,D
17,B,A,D,A,C,B,D,A,C,C,...,NaN,B,D,A,B,A,A,B,NaN,D
18,B,A,D,D,C,B,D,C,C,C,...,C,B,D,A,NaN,A,A,B,D,D
19,B,NaN,D,D,C,B,D,A,C,B,...,D,B,D,B,C,A,A,B,D,D
20,B,NaN,D,D,C,B,D,A,C,B,...,D,B,D,B,C,A,A,B,D,D