In [1]:
file1 = open("abc.txt")

In [2]:
file1

In [10]:
with open("abc.txt","r") as file1:
    file_stuff = file1.readline()
    print(file_stuff)
    file_stuff = file1.readline()
    print(file_stuff)
print(file1.closed)

cong hoa

xa hoi

True

In [11]:
with open("abc.txt","r") as file1:
    for line in file1:
        print(line)

cong hoa

xa hoi

chu nghia

viet nam

doc lap tu do hanh phuc

In [22]:
with open("abc.txt","r") as file1:
    file_stuff = file1.readlines(1)
    print(file_stuff)
    file_stuff = file1.readlines(2)
    print(file_stuff)
    file_stuff = file1.readlines(6)
    print(file_stuff)

['cong hoa CHU NGHIA VIET NAM\n']
['XA HOI\n']
['doc lap tu do hanh phuc']

In [27]:
lines =  ["day la dong 3\n","day la dong 4\n"]
with open("abc.txt", "a") as file1:
    for line in lines:
        file1.write(line)

In [28]:
with open("abc.txt","r") as file1:
    for line in file1.readlines():
        print(line)

day la dong 1

day la dong 2

day la dong 3

day la dong 4

In [30]:
with open("abc.txt", "r") as file1:
    with open("abc1.txt", "w") as file2:
        for line in file1.readlines():
            file2.write(line)

In [31]:
with open("abc1.txt","r") as file3:
    for line in file3.readlines():
        print(line)

day la dong 1

day la dong 2

day la dong 3

day la dong 4

# Doc ghi du lieu voi Pandas

In [35]:
import pandas as pd

csv_file = "abc.csv"
df = pd.read_csv(csv_file)
df.head()

,1,Muhammed MacIntyre,3,-213.25,38.94,35,Nunavut,Storage & Organization,0.8
0,2,Barry French,293,457.81,208.16,68.02,Nunavut,Appliances,0.58
1,3,Barry French,293,46.71,8.69,2.99,Nunavut,Binders and Binder Accessories,0.39
2,4,Clay Rozendal,483,1198.97,195.99,3.99,Nunavut,Telephones and Communication,0.58
3,5,Carlos Soltero,515,30.94,21.78,5.94,Nunavut,Appliances,0.50
4,6,Carlos Soltero,515,4.43,6.64,4.95,Nunavut,Office Furnishings,0.37

In [36]:
df[["3"]]

     3
0  293
1  293
2  483
3  515
4  515
5  613
6  613
7  643
8  678

In [45]:
adict = {"Album":["xuan 2000","tôi thấy hoa vàng trên cỏ xanh","làn sóng xanh", "tình là nhớ"],
        "Artists":["anh cao","minh chau","cao minh", "cao minh"],
        "Age":[30,27,2,2]}

In [46]:
song_frame = pd.DataFrame(adict)

In [47]:
song_frame

                            Album    Artists  Age
0                       xuan 2000    anh cao   30
1  tôi thấy hoa vàng trên cỏ xanh  minh chau   27
2                   làn sóng xanh   cao minh    2
3                     tình là nhớ   cao minh    2

In [48]:
song_frame[["Album"]]

                            Album
0                       xuan 2000
1  tôi thấy hoa vàng trên cỏ xanh
2                   làn sóng xanh
3                     tình là nhớ

In [49]:
song_frame

                            Album    Artists  Age
0                       xuan 2000    anh cao   30
1  tôi thấy hoa vàng trên cỏ xanh  minh chau   27
2                   làn sóng xanh   cao minh    2
3                     tình là nhớ   cao minh    2

In [50]:
new_df = song_frame[["Artists","Age"]]

In [51]:
new_df

     Artists  Age
0    anh cao   30
1  minh chau   27
2   cao minh    2
3   cao minh    2

In [59]:
song_frame["Age"].unique()

array([30, 27,  2], dtype=int64)

In [58]:
new_df

array([30, 27,  2], dtype=int64)

In [63]:
new_df = song_frame[song_frame["Age"] > 2]

In [64]:
new_df

                            Album    Artists  Age
0                       xuan 2000    anh cao   30
1  tôi thấy hoa vàng trên cỏ xanh  minh chau   27

In [65]:
song_frame["Album"]

0                         xuan 2000
1    tôi thấy hoa vàng trên cỏ xanh
2                     làn sóng xanh
3                       tình là nhớ
Name: Album, dtype: object

In [66]:
new_df

                            Album    Artists  Age
0                       xuan 2000    anh cao   30
1  tôi thấy hoa vàng trên cỏ xanh  minh chau   27

In [73]:
new_df[["Album", "Artists", "Age"]].to_csv("xxx.csv")

In [74]:
with open("xxx.csv","r", encoding='utf8') as file1:
    for line in file1.readlines():
        print(line)

,Album,Artists,Age

0,xuan 2000,anh cao,30

1,tôi thấy hoa vàng trên cỏ xanh,minh chau,27

In [75]:
x = pd.read_csv("xxx.csv")
x

   Unnamed: 0                           Album    Artists  Age
0           0                       xuan 2000    anh cao   30
1           1  tôi thấy hoa vàng trên cỏ xanh  minh chau   27

In [80]:
new_df[["Album", "Artists"]].to_csv("xxx.csv",index=False)

In [81]:
with open("xxx.csv","r", encoding='utf8') as file1:
    for line in file1.readlines():
        print(line)

Album,Artists

xuan 2000,anh cao

tôi thấy hoa vàng trên cỏ xanh,minh chau

In [87]:
with open("cal.txt", 'w') as writefile:
    writefile.write("This is line A")

In [89]:
with open("cal.txt", 'r') as writefile:
    content = writefile.read()

In [90]:
content

'This is line A'

In [91]:
Lines = ["This is line A\n", "This is line B\n", "This is line C\n"]
Lines

['This is line A\n', 'This is line B\n', 'This is line C\n']

In [96]:
with open("cal.txt","w") as file1:
    for line in Lines:
        print(line)
        file1.write(line)

This is line A

This is line B

This is line C

In [97]:
with open("cal.txt", 'r') as writefile:
    content = writefile.read()
    print(content)

This is line A
This is line B
This is line C

In [95]:
with open('Example2.txt', 'w') as writefile:
    writefile.write("Overwrite\n")
with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

Overwrite

In [98]:
with open('cal.txt', 'a') as testwritefile:
    testwritefile.write("This is line C\n")
    testwritefile.write("This is line D\n")
    testwritefile.write("This is line E\n")

In [99]:
with open("cal.txt", 'r') as writefile:
    content = writefile.read()
    print(content)

This is line A
This is line B
This is line C
This is line C
This is line D
This is line E

In [100]:
with open('Example2.txt', 'a+') as testwritefile:
    testwritefile.write("This is line E\n")
    print(testwritefile.read())

In [101]:
with open('Example2.txt', 'a+') as testwritefile:
    testwritefile.write("This is line E\n")
    print(testwritefile.read())

In [102]:
with open('Example2.txt', 'a+') as testwritefile:
    testwritefile.write("This is line E\n")
    print(testwritefile.read())

In [103]:
with open('Example2.txt', 'a+') as testwritefile:
    print("Initial Location: {}".format(testwritefile.tell()))
    
    data = testwritefile.read()
    if (not data):  #empty strings return false in python
            print('Read nothing') 
    else: 
            print(testwritefile.read())
            
    testwritefile.seek(0,0) # move 0 bytes from beginning.
    
    print("\nNew Location : {}".format(testwritefile.tell()))
    data = testwritefile.read()
    if (not data): 
            print('Read nothing') 
    else: 
            print(data)
    
    print("Location after read: {}".format(testwritefile.tell()) )

Initial Location: 59
Read nothing

New Location : 0
Overwrite
This is line E
This is line E
This is line E

Location after read: 59

In [106]:
with open('Example2.txt', 'r+') as testwritefile:
    data = testwritefile.readlines()
    print(data)
    
    testwritefile.seek(0,0) #write at beginning of file
   
    testwritefile.write("Line 1" + "\n")
    testwritefile.write("Line 2" + "\n")
    testwritefile.write("Line 3" + "\n")
    testwritefile.write("finished\n")
    #Uncomment the line below
    #testwritefile.truncate()
    testwritefile.seek(0,0)
    print(testwritefile.read())

['Overwrite\n', 'This is line E\n', 'This is line E\n', 'This is line E\n']
Line 1
Line 2
Line 3
finished
 line E
This is line E

In [107]:
with open('Example2.txt', 'r+') as testwritefile:
    data = testwritefile.readlines()
    print(data)

['Line 1\n', 'Line 2\n', 'Line 3\n', 'finished\n', ' line E\n', 'This is line E\n']

In [108]:
with open('Example2.txt', 'a+') as testwritefile:
    print("Initial Location: {}".format(testwritefile.tell()))
    
    data = testwritefile.read()
    if (not data):  #empty strings return false in python
            print('Read nothing') 
    else: 
            print(testwritefile.read())
            
    testwritefile.seek(0,0) # move 0 bytes from beginning.
    
    print("\nNew Location : {}".format(testwritefile.tell()))
    data = testwritefile.read()
    if (not data): 
            print('Read nothing') 
    else: 
            print(data)
    
    print("Location after read: {}".format(testwritefile.tell()) )

Initial Location: 59
Read nothing

New Location : 0
Line 1
Line 2
Line 3
finished
 line E
This is line E

Location after read: 59

In [110]:
with open("abc.txt","r") as file1:
    print(file1.read())

day la dong 1
day la dong 2
day la dong 3
day la dong 4

In [116]:
with open("abc.txt","a+") as file1:
    print("vi tri con tro: {}".format(file1.tell()))
    data = file1.read()
    if(not data):
        print("Khong doc duoc du lieu")
    else:
        print(data)
    
    file1.seek(0,0)
    print("vi tri con tro: {}".format(file1.tell()))
    data = file1.read()
    if(not data):
        print("Khong doc duoc du lieu")
    else:
        print(data)

vi tri con tro: 60
Khong doc duoc du lieu
vi tri con tro: 0
day la dong 1
day la dong 2
day la dong 3
day la dong 4

In [115]:
with open("afdsgd.txt","r") as filexxx:
    print(filexxx.read())

FileNotFoundError: [Errno 2] No such file or directory: 'afdsgd.txt'

In [120]:
with open("abc.txt","a+") as file1:
    print("vi tri con tro: {}".format(file1.tell()))
    data = file1.read()
    if(not data):
        print("Khong doc duoc du lieu")
    else:
        print(data)
    
    file1.seek(0,0)
    print("vi tri con tro: {}".format(file1.tell()))
    file1.write("cong hoa xa hoi")
    file1.seek(0,0)
    data = file1.read()
    if(not data):
        print("Khong doc duoc du lieu")
    else:
        print(data)

vi tri con tro: 75
Khong doc duoc du lieu
vi tri con tro: 0
day la dong 1
day la dong 2
day la dong 3
day la dong 4
cong hoa xa hoicong hoa xa hoi

In [119]:
with open("abc.txt","a+") as file1:
    print("vi tri con tro: {}".format(file1.tell()))
    data = file1.read()
    if(not data):
        print("Khong doc duoc du lieu")
    else:
        print(data)

vi tri con tro: 75
Khong doc duoc du lieu

In [122]:
with open("abc.txt","w+") as file1:
    print("vi tri con tro: {}".format(file1.tell()))
    data = file1.read()
    if(not data):
        print("Khong doc duoc du lieu")
    else:
        print(data)

vi tri con tro: 0
Khong doc duoc du lieu

In [125]:
with open("abc.txt","w+") as file1:
    print("vi tri con tro: {}".format(file1.tell()))
    data = file1.read()
    if(not data):
        print("Khong doc duoc du lieu")
    else:
        print(data)
        
    file1.seek(0,0)
    print("vi tri con tro: {}".format(file1.tell()))
    data = file1.read()
    if(not data):
        print("Khong doc duoc du lieu")
    else:
        print(data)

vi tri con tro: 0
Khong doc duoc du lieu
vi tri con tro: 0
Khong doc duoc du lieu

In [127]:
with open("abc.txt","r") as file1:
    print("vi tri con tro: {}".format(file1.tell()))
    data = file1.read()
    print(data)

vi tri con tro: 0

In [132]:
with open("abc.txt","r+") as file1:
    print("vi tri con tro: {}".format(file1.tell()))
    data = file1.read()
    if(not data):
        print("Khong doc duoc du lieu")
    else:
        print(data)
    
    file1.write('day la dong 1\n')
    file1.write('day la dong 2\n')
    file1.write('day la dong 3\n')
    file1.write('day la dong 4\n')
    print("vi tri con tro: {}".format(file1.tell()))
    file1.seek(0,0)
    print("vi tri con tro: {}".format(file1.tell()))
    data1 = file1.read()
    print(data1)

vi tri con tro: 60
Khong doc duoc du lieu
vi tri con tro: 120
vi tri con tro: 0
day la dong 1
day la dong 2
day la dong 3
day la dong 4
day la dong 1
day la dong 2
day la dong 3
day la dong 4

In [137]:
with open('Example2.txt', 'r+') as testwritefile:
    data = testwritefile.readlines()
    testwritefile.seek(0,0) #write at beginning of file
   
    testwritefile.write("Line 1" + "\n")
    testwritefile.write("Line 2" + "\n")
    testwritefile.write("Line 3" + "\n")
    testwritefile.write("finished\n")
    #Uncomment the line below
    testwritefile.truncate()
    testwritefile.seek(0,0)
    print(testwritefile.read())

Line 1
Line 2
Line 3
finished

In [143]:
with open('Example2.txt', 'w+') as testwritefile:
    testwritefile.write('day la dong 1\n')
    testwritefile.write('day la dong 2\n')
    testwritefile.write('day la dong 3\n')
    testwritefile.write('day la dong 4\n')
    testwritefile.write('day la dong 5\n')
    testwritefile.write('day la dong 6')
    testwritefile.seek(0,0)
    print(testwritefile.read())

day la dong 1
day la dong 2
day la dong 3
day la dong 4
day la dong 5
day la dong 6

In [146]:
with open('Example2.txt', 'r+') as testwritefile:
    data = testwritefile.readlines()
    testwritefile.seek(0,0) #write at beginning of file
   
    testwritefile.write("Line 1" + "\n")
    testwritefile.write("Line 2" + "\n")
    testwritefile.write("Line 3" + "\n")
    testwritefile.write("finished\n")
    #Uncomment the line below
    testwritefile.truncate()
    testwritefile.seek(0,0)
    print(testwritefile.read())

Line 1
Line 2
Line 3
finished

In [144]:
with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

day la dong 1
day la dong 2
day la dong 3
day la dong 4
day la dong 5
day la dong 6